#canvas{
	border:1px solid black;
	background-image:url(../img/beijing2.jpg);
}
#tupianone{
	display:none;
}
#tupiantwo{
	display:none;
}
#tupianthree{
	display:none;
}
#start{
	width:85px;
	height:48px;
	position:absolute;
	left:125px;
	top:320px;
}